<h1>Login</h1>

<% if flash.any? %>
	<ul>
	  <% flash.alert.each do |message| %>
	    <li class='flash'><%= message.first.to_s %></li>
	  <% end %>
	</ul>
<% end %>

<!-- using a semicolumned model name will fill the form 
with an empty model without the need to create one -->
<%= form_for(:user) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	or
	<br>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<br>
	<br>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<br>
	<br>

	<%= f.submit 'Login'%>

<% end %>

<br>

or <%= button_to "Log in with Google", '/auth/google_oauth2' %>
