<h1>New Note:</h1>
<p>(maximum 180 charcters)</p>

<%= form_for @note do |f| %>
	<%= f.text_area :text %>
	<%= f.hidden_field :cafe_id %>
	<%= f.hidden_field :user_id %>
	<br>
	<%= f.submit 'Post Note' %>
<% end %>