<% @visits.each do |v| %>
	
	<div class='cafetile'>
		<%= link_to cafe_path(v.cafe.slug) do %>
			<%= image_tag(v.cafe.main_image.url, :alt => v.cafe.main_image.name) %>
		<% end %>
		<div class='cafeid'>
			<%= link_to cafe_path(v.cafe.slug) do %>
				<p><b><%= v.cafe.name %></b></p>
			<% end %>
			<text class=location><%= v.cafe.location %></text>
			<text class=location><%= v.last_visited %></text>
		</div>
		<% if user_is_authenticated && controller_name == 'visits' %>
			<%= form_tag("/visits/#{v.id}", method: "patch") do %>
				<%= hidden_field_tag('visit[:cafe_id]', value = v.cafe.id) %>
				<%= submit_tag "GO!", class: 'add' %>
			<% end %>
		<% end %>
	</div>
	
<% end %>