<% @visits.each do |v| %>
	
	<div class='cafetile'>
		<%= link_to cafe_path(v.cafe.slug) do %>
			<%= image_tag(v.cafe.main_image.url, :alt => v.cafe.main_image.name) %>
		<% end %>
		<div class='cafeid'>
			<%= link_to cafe_path(v.cafe.slug) do %>
				<p><b><%= v.cafe.name %></b></p>
			<% end %>
			<text class=location><%= v.cafe.location %></text>
			<text class=location><%= last_visit_label(v) %><%= link_to "#{format_last_visit(v)}", edit_visit_path(v) %></text>
		</div>
		<% if user_is_authenticated && controller_name == 'visits' %>
			<%= form_tag(visit_path(v), method: "patch") do %>
				<%= hidden_field_tag('visit[id]', value = v.id) %>
				<%= hidden_field_tag('visit[last_visited]', value = Date.today) %>
				<%= submit_tag "GO!", class: 'add' %>
			<% end %>
		<% end %>
	</div>
	
<% end %>