<h1>Edit Visit to <%= link_to @visit.cafe.name, cafe_path(@visit.cafe.slug) %>:</h1>

<%= form_for(@visit) do |f| %>
	<%= f.label :last_visited %>
	<%= f.text_field :last_visited %>
	<%= f.hidden_field :id %>
	<br>
	<br>
	<%= f.submit 'Edit' %>
<% end %>