<h1>Sign Up</h1>

<br>
<% if flash.alert %>
	<ul>
	  <% flash.alert.each do |message| %>
	    <li class='flash'><%= message.first.to_s %></li>
	  <% end %>
	</ul>
<% end %>

<%= form_for(@user, url: '/signup') do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<br>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<br>
	<br>
	<%= f.submit 'Submit' %>

<% end %>