<% @cafes.each do |c| %>

	<div class='cafetile'>
		<%= link_to cafe_path(c) do %>
			<%= image_tag(c.main_image.url, :alt => c.main_image.name) %>
		<% end %>
		<div class='cafeid'>
			<%= link_to cafe_path(c) do %>
				<p><b><%= capitalize_each_word(c.name) %></b></p>
			<% end %>
			<text class=location><%= c.location %></text>
		</div>
		<% if user_is_authenticated && controller_name == 'visits'%>
			<%= form_tag(user_visits_path(current_user.slug), method: "post") do %>
				<%= hidden_field_tag('visit[cafe_id]', value = c.id) %>
				<%= submit_tag "+", class: 'add' %>
			<% end %>
		<% end %>
	</div>
	
<% end %>