<!DOCTYPE html>
<html>
  <head>
    <title>CafesRota</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navwrap">
        <div>
          <a href="/">Home</a>
        </div>
        <div>
          <a href="/signup">SignUp</a>
        </div>
        <% if user_is_authenticated %>
          <div id='logout'>
            <%= link_to 'Logout', logout_path, :method => 'delete' %>
          </div>
        <% end %>
      </div>
    </header>

    <section>
      <%= yield %>
    </section>

    <footer>
      <p align='center' style='font-size: 10px'>Cafes Rota &#169;</p>
    </footer>
  </body>
</html>
