<!DOCTYPE html>
<html>
  <head>
    <title>CafesRota</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= "class=home" if action_name == 'home' %>>
    <header>
      <div class="navwrap">
        <div>
          <a href="/">| Home |</a>
        </div>
        <div>
          <%= link_to '| Cafes |', cafes_path %>
        </div>
        <% if user_is_authenticated %>
          <div>
            <%= link_to '| Your-Cafes |', root_path %>
          </div>
          <div>
            <%= link_to '| Your-Profile |', user_path(current_user.slug) %>
          </div>
          <div id='log'>
            <%= link_to 'Logout', logout_path, :method => 'delete' %>
          </div>
        <% else %>
          <div id='log'>
            <%= link_to 'Login', login_path%> / <%= link_to 'Signup', signup_path%>
          </div>
        <% end %>
      </div>
    </header>

    <section>
      <%= yield %>
    </section>

    <footer>
      <p align='center' style='font-size: 10px'>Cafes Rota &#169; 2020</p>
    </footer>
  </body>
</html>
